<form id="tenantForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tenantName">Workspace Name</label>
            <input class="form-control" type="text" id="tenantName" name="tenantName" placeholder="Workspace Name" value="{{ data.tenantName }}">
        </div>
    </div>
    {{"tenantForm" | formToken | raw }}
</form>
