<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Uptime Monitor</title>
</head>
<body>
    <h1>Hi {{ data.fullname }}</h1>
    <p>Welcome to Uptime Monitor. You have been successfully registered. Please see your login details below:</p>
    <p><b>Username: </b>{{ data.username }}</p>
    <p><b>Password: </b>{{ data.password }}</p>

    <p>Enjoy!!</p>
</body>
</html>