{% extends "base.twig" %}
 {% block content %}
    <h3>Dashboard</h3>
    <p>
        <a class="btn btn-primary" onClick="javascript:checkMonitors();">Check All Monitors Now</a>
    </p>

{% endblock %}